img {
    width: 200px;
    height: 100px;
}

.form-check-input {
    scale: 1.2;
    border: 1px solid lightslategray;
}

.btn-green {
    background-color: #54deca;
}

.btn-green:hover {
    background-color: #1E9D8A;
    color: white;
}

.btn-green:active {
    background-color: #1E9D8A !important;
    color: white !important;
}

.form-check-input:checked[type="checkbox"] {
    background-color: #1E9D8A;

}

.form-check-input:checked[type="radio"] {
    background-color: #1E9D8A;
}