
.title-font{
    font-family: 'Amatic SC', sans-serif;
   
}

.nav-text{
    font-family: 'Noto Sans TC', sans-serif;
}

.nav-icon{
color: white ;
}

.z100{
    z-index: 100;
}

.h60{
    height: 60vh;
}
.h70{
    height: 70vh;
}
.bg-green{
    background-color: #1E9D8A;
}
.hero-img1 {
    background: linear-gradient(rgba(81, 81, 81, 0), rgba(15, 23, 43, .9)), url(https://cdn.pixabay.com/photo/2022/06/07/20/52/curry-7249247_1280.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-img2 {
    background: linear-gradient(rgba(81, 81, 81, 0), rgba(15, 23, 43, .9)), url(https://cdn.pixabay.com/photo/2018/04/13/17/12/vegetable-skewer-3317055_1280.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-img3 {
    background: linear-gradient(rgba(81, 81, 81, 0), rgba(15, 23, 43, .9)), url(https://cdn.pixabay.com/photo/2014/05/18/11/25/pizza-346985_1280.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-carousel-button{
    width: 10px !important; 
    height: 10px !important;
    background-color: #1E9D8A !important;
}

.img-carousel-arrow {
    width: 10px !important;
    height: 10px !important;
    background-color: #CBF3F0 !important;
    color: #CBF3F0;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: var(--primary);
}